<%= render "shared/survey_top_panel"  %>

<hr class="bold">
<%= render partial: "question_top_panel", locals: {select: "inactive", add: "active"} %>
<p>
  Next, add the text for each of your options.
</p>

<div class = "q-box-wrapper">
  <%= form_for( @multiq, :url => { :controller => "multiqs", :action => "update" }, html: { :class => "" } ) do |question_fields| %>
    <div class="form-group">
      <%= question_fields.label :question, "What is your question:", class: "big-fields-labels" %>
      <%= question_fields.text_field :question, class: "form-control", :placeholder => "eg. 'Who does number two work for?' " %>
    </div>
    <%= question_fields.fields_for :choices do |choose_answer| %>
      <div class="form-group">
        <%= choose_answer.label :name, "Option #{1 + choose_answer.index}:", class: "big-fields-labels" %>
        <%= choose_answer.text_field :name, class: "form-control", :placeholder => "eg. 'Dr Evil' " %>
      </div>
    <% end %>
    <div class="big-button-wrapper">
      <%= question_fields.submit "Add Question", class: "btn btn-primary btn-group btn-group-lg" %>
    </div>
  <% end %>
</div>
<%= link_to "Back to previous step", new_survey_add_question_path %>
<hr class="bold">

<%= render "shared/existing_questions"  %>

