<%= render "shared/survey_top_panel"  %>

<hr class="bold">

<%= render partial: "question_top_panel", locals: {select: "active", add: "inactive"} %>



<div class = "q-box-wrapper">
  <%= form_for(@multiq, :url => { :controller => "multiqs", :action => "create" }) do |f| %>
    <div class="form-group">
      <p class="response">How many options should the question have?</p>
      <%= select_tag :no_options, options_for_select([1,2,3,4,5,6,7]), :class => "form-control" %><br>

      <p class="response">How many options can be selected?</p>
        <%= f.radio_button(:multiple, false) %>
        <%= label :multiple, "Just One" %><br>
        <%= f.radio_button(:multiple, true, checked: true) %>
        <%= label :multiple, "Multiple" %>
        <%= f.hidden_field :survey_id, :value => @survey.id %>
        <%= f.hidden_field :question, :value => "" %><br><br>

      <p class="response">Is the question required?</p>
      <%= f.radio_button(:required, true) %>
      <%= label :required, "Yes" %><br>
      <%= f.radio_button(:required, false) %>
      <%= label :required, "No" %><br>

    </div>
    <div class="big-button-wrapper">
      <%= f.submit "Add a New Question", class: "btn btn-primary btn-group btn-group-lg" %>
    </div>
  <% end %>
</div>

<hr class="bold">

<%= render "shared/existing_questions"  %>
