
<H1>
  Survey Taker:
</H1>
<hr class="bold">
<H5>
<%= @survey.title %>
</H5>
<p>
  <%= @survey.description %>
</p>
<br>
<p class="inactive">
  Questions marked with an asterisk (*) are required
</p>

<%= form_for([@survey, @user], html: { :class => "form-horizontal" }) do |user| %>
  <% q = [] %>
  <ol><%= user.fields_for :multi_answers do |answer| %>
    <% unless q.include? answer.object.multi_q_id %>
      <li><%= answer.object.multi_q.question %></li>
      <% q << answer.object.multi_q_id %>
    <% end %>
    <br><br>
    <% if answer.object.multi_q.multiple %>
      <%= render "error_messages", :target => answer.object %>

      <div class="form-check">
      <%= answer.collection_check_boxes(:choice_id, Choice.where(:multi_q_id => answer.object.multi_q.id), :id, :name, {include_hidden: false}, {:class => "form-control"}) %>
      </div>
      <%= answer.hidden_field :multi_q_id, :value => answer.object.multi_q.id  %>
    <% else %>
    <div class="form-check">
      <%= answer.collection_radio_buttons(:choice_id, Choice.where(:multi_q_id => answer.object.multi_q.id), :id, :name, {include_hidden: false}, {:class => "form-control"}) %>
    </div>
      <%= answer.hidden_field :multi_q_id, :value => answer.object.multi_q.id  %>
    <% end %>
 
  <% end %>
  <%= user.submit "Submit Your Survey", class: "btn btn-primary btn-group btn-group-lg" %>
<% end %></ol>