<!-- 

<H1>
  Survey Builder
</H1>
<hr class="bold">
<ol class="survey-builder">
  <li class="">
    <span>Build Survey</span>
  </li>
    <span class="bar">|</span>
  <li class="">
    <span class="page-inactive">Add Questions</span>
  </li>
</ol>
<p>
  Next, fill in the questions.
</p>
<div class="q-box-wrapper">
  <label class="big-fields-labels">
    Title:
  </label>
  <p>
    <%= @survey.title %>
  </p>

  <label class="big-fields-labels">
    Description:
  </label>
  <p>
    <%= @survey.description %>
  </p>
</div>

<hr class="bold">
<H3>
  Add a ultiple Choice of Question:
</H3>
<hr class="bold">
<ol class="survey-builder">
  <li class="">
    <span>Select Options</span>
  </li>
    <span class="bar">|</span>
  <li class="">
    <span class="page-inactive">Add Question Text</span>
  </li>
</ol>

<div class = "q-box-wrapper">
<%= form_for @survey do |survey_fields| %>
  <%= survey_fields.fields_for :multi_q do |multi_q_field| %>
    <div class="form-group">
      <%= label_tag :no_options, "How many options should the question have?", class: "response" %>
      <%= select_tag :no_options, options_for_select([1,2,3,4,5], "1"), :class => "form-control" %>

      <%= label_tag :choice_no, "How many options can be selected?", class: "response" %>
        <%= radio_button_tag(:choice_no, "one") %>
        <%= label_tag(:choice_no_one, "Just One") %>
        <%= radio_button_tag(:choice_no, "adult") %>
        <%= label_tag(:choice_no_multi, "multi") %>

      <%= label_tag :choice_req, "Is the question required", class: "response" %>
        <%= radio_button_tag(:choice_req, "one") %>
        <%= label_tag(:choice_req_yes, "Yes") %>
        <%= radio_button_tag(:choice_req, "adult") %>
        <%= label_tag(:choice_req_no, "No") %>

    </div>
    <div class="big-button-wrapper">
      <%= submit_tag "Add a New Question", class: "btn btn-primary btn-group btn-group-lg" %>
    </div>
  <% end %>
</div>

<hr class="bold">

<div class="q-box-wrapper">
  <p class="big-fields-labels">
    Existing Questions:
  </p>
  <% if @multiq.present? %>
    <% @multiq.each do |m| %>
      <%= m.id %>
      <%= m.survey_id %>
      <%= m.question %>
    <% end %>
  <% else %>
    There are no questions yet!
  <% end %>
</div>

 -->